<h1>Cars</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Model</th>
        <th scope="col">Parts</th>
        <th scope="col">Total Cost</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let car of cars; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ car.name }}</td>
        <td>{{ car.parts ? getPartsNames(car.parts).join(', ') : '' }}</td>
        <td>{{ car.parts ? getTotalPartsCost(car.parts) : 0 }}</td>
        <td>
            <button *ngIf="car.name" (click)="deleteCar(car.name)" class="btn btn-danger">
                Delete
            </button>
        </td>
    </tbody>
</table>
<a routerLink="add-car" class="btn btn-primary">Add Car</a>
<router-outlet></router-outlet>
